<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pnuemoniaproject.hathi">

    <!-- android:icon="@mipmap/ic_launcher" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/pulseox"
        android:label="MobOx"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DashBoard"
            android:label="MobOx"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".HomeScreen"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".input_step1_Registration"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".CommunityStream1"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".HospiStream1"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".HospiStream2"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".NewMeasurement"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="devices.RecordActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".johnactivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".johnActivity2"
            android:label="@string/title_activity_john2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".firstMenu"
            android:label="@string/title_activity_first_menu"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
